In [1]:
import pandas as pd
from sklearn import svm
import numpy as np
import sklearn.model_selection as model_selection
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.preprocessing import MinMaxScaler
import random
from imblearn.over_sampling import SMOTE

In [2]:
df=pd.read_excel("2Weeks_data.xlsx",sheet_name="Data")

In [3]:
df

,Unnamed: 0,ID,Weight,BMI,Step,Burn,Eat,Sleep,Height,Label,Unnamed: 10
0,0,#AAGQKY,45.0,20.544193,72.0,0.0,0.0,0.0,148.0,0,73.0
1,1,#AAGQKY,45.0,20.544193,72.0,0.0,0.0,0.0,148.0,0,1755.0
2,2,#AAGQKY,45.0,20.544193,72.0,0.0,0.0,0.0,148.0,0,102.0
3,3,#AAGQKY,45.0,20.544193,72.0,0.0,0.0,0.0,148.0,0,NaN
4,4,#AAGQKY,45.0,20.544193,72.0,0.0,0.0,0.0,148.0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1927,1927,#ZZLSSL,68.0,29.048656,0.0,0.0,0.0,0.0,153.0,0,NaN
1928,1928,#ZZLSSL,68.0,29.048656,0.0,0.0,0.0,0.0,153.0,0,NaN
1929,1929,#ZZLSSL,68.0,29.048656,0.0,0.0,0.0,0.0,153.0,0,NaN
1930,1930,#ZZLSSL,68.0,29.048656,0.0,0.0,0.0,0.0,153.0,0,NaN
1931,1931,#ZZLSSL,68.0,29.048656,0.0,0.0,0.0,0.0,153.0,0,NaN

In [4]:
X_train=df.iloc[:,2:8]
y_train=df.iloc[:,9:10]
X_test=df.iloc[:,2:8]
y_test=df.iloc[:,9:10]

In [5]:
X_train.shape

(1932, 6)

In [6]:
y_train.shape

(1932, 1)

In [7]:
smote = SMOTE(random_state=0)
X_train_over,y_train_over = smote.fit_resample(X_train,y_train)

print('SMOTE 적용 전 학습용 피처/레이블 데이터 세트: ', X_train.shape, y_train.shape)
print('SMOTE 적용 후 학습용 피처/레이블 데이터 세트: ', X_train_over.shape, y_train_over.shape)

SMOTE 적용 전 학습용 피처/레이블 데이터 세트:  (1932, 6) (1932, 1)
SMOTE 적용 후 학습용 피처/레이블 데이터 세트:  (5271, 6) (5271, 1)

In [8]:
sc_x=MinMaxScaler(feature_range=(0,1))
sc_y=MinMaxScaler(feature_range=(0,1))

In [9]:
X_train=sc_x.fit_transform(X_train_over)
# y_train=sc_y.fit_transform(y_train)
X_test=sc_x.fit_transform(X_test)
# y_test=sc_y.fit_transform(y_test)

In [10]:
X_train=np.array(X_train)
y_train=np.array(y_train_over)
X_test=np.array(X_test)
y_test=np.array(y_test)

In [17]:
poly = svm.SVC(kernel='poly', degree=3, C=1).fit(X_train, y_train)

poly_pred = poly.predict(X_test)
# print(poly_pred.shape())

#poly
poly_accuracy = accuracy_score(y_test, poly_pred)
poly_f1 = f1_score(y_test, poly_pred, average='weighted')
print('Accuracy (Polynomial Kernel): ', "%.2f" % (poly_accuracy*100))
print('F1 (Polynomial Kernel): ', "%.2f" % (poly_f1*100))

C:\Users\user\anaconda3\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy (Polynomial Kernel):  39.03
F1 (Polynomial Kernel):  50.78